<%- include("partials/header"); -%>
<h1>Home</h1>
<p>
  <%= blog  %>
  </p>
   <% newblogs.forEach(function(newblogs) { %>
  <h1> <%= newblogs.title %>  </h1>
  <p>
    <%= newblogs.content.substring(0, 100) +"...."  %>
    <a href="/post/<%= newblogs.title %>">Read More</a>
    </p>
  <% }); %>
<%- include("partials/footer"); -%>
